server:
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8081

database:
  driverClass: com.mysql.cj.jdbc.Driver
  user: root
  password: password
  url: jdbc:mysql://localhost:3306/flipfit_schema?useSSL=false&serverTimezone=UTC
  properties:
    charSet: UTF-8
